@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 10px;
}

main {
  flex: 1;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: white;
}

.react-datepicker__input-container input {
  background: white;
  width: 100%;
  border: 1px solid #d9dada;
  height: 32px;
  border-radius: 4px;
  text-indent: 10px;
}

.react-datepicker__triangle {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  width: 5px;
}
